.board-container {
    flex-grow: 1;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}

.board {
    display: flex;
    flex-direction: column;
    max-width: 340px;
    margin: 0 auto;
}